Django>=5.0
djangorestframework
django-cors-headers
channels[daphne]
psycopg2-binary
dj-database-url
whitenoise
python-dotenv
redis
channels_redis
djangorestframework-simplejwt
drf-spectacular>=0.27.0
django-filter>=23.5
Pillow
resend==0.8.0
google-auth
requests
