Django>=5.0
djangorestframework
django-cors-headers
channels[daphne]
psycopg2-binary
dj-database-url
mysqlclient>=2.2.0
whitenoise
python-dotenv
redis
django-redis
channels_redis
djangorestframework-simplejwt
drf-spectacular>=0.27.0
django-filter>=23.5
Pillow
resend==0.8.0
google-auth
requests
gunicorn
exponent_server_sdk
google-generativeai
cryptography==46.0.3