@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
    --color-primary: #27AE60;
    --color-secondary: #2980B9;
    --color-background: #F4F6F8;
}

/* Toast Animations */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-down {
    animation: slideDown 0.3s ease-out;
}